@import "tailwindcss";

:root {
  /* BOJE */
  --primary-color: #5D0156;
  --secondary-color: #BA34B7;
  --red-color: #D20003;
  --black-color: #000000;
  --white-color: #ffffff;

  /* GLOBALNA POZADINA I TEKST */
  --background: #F4F6F8;
  --foreground: var(--black-color);
  /* Koristi crnu kao osnovnu boju teksta */

  /* FONTI */
  --main-font: 'Changa', sans-serif;
  --heading-font: 'Berkshire Swash', cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black-color);
      --foreground: var(--white-color);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
